AffluenzaBotFlow.json
[{"id":"fffec827.7ba228","type":"tab","label":"AffluenzaBot","disabled":false,"info":""},{"id":"695caf8b.2bb58","type":"mqtt out","z":"fffec827.7ba228","name":"","topic":"/count1","qos":"","retain":"","broker":"f168da6e.191378","x":1020,"y":400,"wires":[]},{"id":"7b91d9da.ec5898","type":"mosca in","z":"fffec827.7ba228","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":290,"y":100,"wires":[[]]},{"id":"1f34721c.d2e5ee","type":"chatbot-telegram-receive","z":"fffec827.7ba228","bot":"","botProduction":"","x":130,"y":180,"wires":[["7ef24a31.d4b2c4"]]},{"id":"1a1dcafe.568905","type":"chatbot-inline-buttons","z":"fffec827.7ba228","name":"","buttons":[{"type":"postback","label":"Registrami","value":"1","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Esci","value":"0","answer":"","alert":false,"style":""},{"type":"postback","label":"Ho votato","value":"-1","answer":"","alert":false,"style":""}],"message":"Registrare la propria presenza","x":360,"y":220,"wires":[["ee880317.3c9f3"]]},{"id":"26d38048.cda0e","type":"counter","z":"fffec827.7ba228","name":"Contatore Presenze","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":1,"x":700,"y":380,"wires":[["7c933881.3e4568","c4e89fe.8d0fd6"]]},{"id":"7c933881.3e4568","type":"debug","z":"fffec827.7ba228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","x":930,"y":480,"wires":[]},{"id":"198e9a88.829055","type":"switch","z":"fffec827.7ba228","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":320,"wires":[["ad4eb4b4.e35e78"],["cb151f11.dbfdd"],["dce226e1.575b58"]]},{"id":"ee880317.3c9f3","type":"chatbot-telegram-send","z":"fffec827.7ba228","bot":"","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":550,"y":220,"wires":[["198e9a88.829055"]]},{"id":"ad4eb4b4.e35e78","type":"chatbot-inline-buttons","z":"fffec827.7ba228","name":"","buttons":[{"type":"postback","label":"+1","value":"+1","answer":"Grazie per la registrazione","alert":true,"style":""}],"message":"","x":580,"y":300,"wires":[["26d38048.cda0e","969fc7.da580038"]]},{"id":"cb151f11.dbfdd","type":"chatbot-message","z":"fffec827.7ba228","name":"","message":[{"message":"Sei uscito dalla registrazione. Premere /start per una nuova registrazione."}],"language":"","x":550,"y":460,"wires":[["7222b73a.a12728"]]},{"id":"7ef24a31.d4b2c4","type":"chatbot-rules","z":"fffec827.7ba228","name":"","rules":[{"type":"command","command":"/start"},{"type":"command","command":"/refresh"}],"outputs":2,"x":150,"y":360,"wires":[["1a1dcafe.568905"],["cb151f11.dbfdd"]]},{"id":"91d92e48.ea69d","type":"chatbot-telegram-send","z":"fffec827.7ba228","bot":"","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":990,"y":240,"wires":[[]]},{"id":"7222b73a.a12728","type":"chatbot-telegram-send","z":"fffec827.7ba228","bot":"","botProduction":"","track":true,"passThrough":true,"outputs":1,"x":710,"y":520,"wires":[[]]},{"id":"969fc7.da580038","type":"chatbot-message","z":"fffec827.7ba228","name":"","message":[{"message":"Grazie per la registrazione, premere /start per una nuova registrazione"}],"language":"","x":790,"y":220,"wires":[["91d92e48.ea69d"]]},{"id":"52b4b840.ae9f08","type":"mqtt in","z":"fffec827.7ba228","name":"","topic":"/count","qos":"2","datatype":"auto","broker":"f168da6e.191378","x":450,"y":140,"wires":[["a036e7e4.899bd8"]]},{"id":"a036e7e4.899bd8","type":"debug","z":"fffec827.7ba228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":140,"wires":[]},{"id":"c4e89fe.8d0fd6","type":"function","z":"fffec827.7ba228","name":"Function","func":"msg.payload = msg.count;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":320,"wires":[["695caf8b.2bb58"]]},{"id":"dce226e1.575b58","type":"chatbot-inline-buttons","z":"fffec827.7ba228","name":"","buttons":[{"type":"postback","label":"-1","value":"-1","answer":"","alert":false,"style":""}],"message":"","x":100,"y":420,"wires":[["49dedc27.979824","1b76baee.a22f95"]]},{"id":"49dedc27.979824","type":"chatbot-message","z":"fffec827.7ba228","name":"","message":[{"message":"Grazie per aver votato, premere /start per una nuova registrazione"}],"language":"","x":270,"y":440,"wires":[["2476833c.401b3c"]]},{"id":"2476833c.401b3c","type":"chatbot-telegram-send","z":"fffec827.7ba228","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":650,"y":600,"wires":[]},{"id":"1b76baee.a22f95","type":"counter","z":"fffec827.7ba228","name":"Contatore Uscite","init":"0","step":"-1","lower":"","upper":"","mode":"increment","outputs":"1","x":170,"y":500,"wires":[["5ea37ec3.e80da","98bbf15a.a20a2"]]},{"id":"5ea37ec3.e80da","type":"function","z":"fffec827.7ba228","name":"Function","func":"msg.payload = msg.count;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["6b05f65e.351b18"]]},{"id":"6b05f65e.351b18","type":"mqtt out","z":"fffec827.7ba228","name":"","topic":"/countmeno1","qos":"","retain":"","broker":"f168da6e.191378","x":430,"y":620,"wires":[]},{"id":"98bbf15a.a20a2","type":"debug","z":"fffec827.7ba228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","x":170,"y":580,"wires":[]},{"id":"f168da6e.191378","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]